# Backend
backend/.env
backend/venv/
__pycache__/
*.pyc

# Database
database/*.db
database/*.sqlite
database/*.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Logs
*.log
logs/

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
